<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.codinglemon.demo.dao.StockOrderDao">

    <insert id="createOrder" useGeneratedKeys="true" keyProperty="id">
        insert into stock_order values(#{id},#{sid},#{name},#{count},#{totalPrice},NOW());
    </insert>

</mapper>
